{% extends "base.html" %}
{% block title %}
    {{ block.super }} - {{ page_title }}
{% endblock %}
{% block auth %}{{ block.super }}{% endblock %}
{% block content %}
    <div class="question_box">
        <br />{{ question.title }}
        <br />{{ question.text }}
        <br />rating: {{ question.rating }}
        <br />
        {% for answer in answers %}
            <div class="answer_box">
            <br />{{ answer.text }}
            <br />Author: {{ answer.user }}
            <br />
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% if auth_user_authenticated %}
            <form class="form-horizontal" method="post" action="{{ question_url }}">
                {% csrf_token %}
                <fieldset>
                    {% for field in form %}
                        {% if field.name == 'question' %}
                            <div class="controls">hide{{ field }}</div>
                        {% else %}
                        <div class="control-group {% if field.errors %}has_error{% endif %}">
                            <label class="control-label">{{ field.label }}</label>
                            <div class="controls">{{ field }}</div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}